* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-sans);
  background-color: var(--grey-950);
  color: var(--cool-gray);
  transition: background-color 0.5s ease, color 0.5s ease;
}

a {
  color: inherit;
}

