### `css/variables.css`

```css
/* ========================================
   VARIABILI GLOBALI
   ======================================== */

:root {
    /* Font */
    --font-sans: 'DM Sans', sans-serif;
    --font-serif: 'DM Serif Display', serif;
    
    /* Colori Dark Mode */
    --grey-950: #0F0F0F;
    --grey-900: #1C1917;
    --grey-800: #292524;
    --grey-400: #A8A29E;
    --cool-gray: #E5E7EB;
    --bg-nav: rgba(15, 15, 15, 0.4);
    --text-main: #FFF;
    --feature-bg: #141211;
    --input-bg: rgba(255, 255, 255, 0.03);
}

body.light-mode {
    /* Colori Light Mode */
    --grey-950: #F5F5F4;
    --grey-900: #E7E5E4;
    --grey-800: #D6D3D1;
    --grey-400: #57534E;
    --cool-gray: #1C1917;
    --bg-nav: rgba(245, 245, 244, 0.6);
    --text-main: #0F0F0F;
    --feature-bg: #E7E5E4;
    --input-bg: rgba(0, 0, 0, 0.03);
}

/* Font Faces */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Fp2ywxg089UriCZa4Hz-A.woff2) format("woff2");
}

@font-face {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dmserifdisplay/v15/-F6ufjN0uS2ttSbcK3lFE9v6v6icCIJ7.woff2) format("woff2");
}
```

